input {
  width: 229px;
  background-color: rgb(199, 199, 199);
  margin-bottom: 30px;

  border: none;
  border-end-end-radius: 20px;
  border-end-start-radius: 20px;
  
  text-indent: 10px;
  
  scale: 170%;
}

body {
  background-color: rgb(192, 148, 90);
}

h1 {
  margin-bottom: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(85, 62, 32);
  background-color: rgb(173, 132, 77);
  width: 276px;

  border-radius: 10px;
  
  text-indent: 10px;
  
  scale: 170%;
}

.weekdays:active {
    background-color: rgb(54, 146, 45);
    box-shadow: none;
}

.weekdays {
  margin-left: 20px;
  margin-right: 20px;

  background-color: rgb(59, 160, 49);
  margin-bottom: 30px;

  border: none;
  border-end-end-radius: 10px;
  box-shadow: 2px 2px 0 rgb(44, 121, 37); 
  
  scale: 170%;
}

.day_off {
  margin-left: 20px;
  margin-right: 20px;

  background-color: rgb(190, 30, 30);
  margin-bottom: 30px;

  border: none;
  border-end-end-radius: 10px;
  box-shadow: 2px 2px 0 rgb(148, 23, 23); 

  scale: 170%;
}

.day_off:active {
  background-color: rgb(172, 27, 27);
  box-shadow: none;
}

.done {
  background-color: rgb(119, 119, 119);
  box-shadow: 2px 2px 0 rgb(94, 94, 94);

  border: none;
  border-radius: 5px;

  scale: 170%;
}

.done:active {
  background-color: rgb(109, 109, 109);
  box-shadow: none;
}

ul {
  list-style-type: none;
}

li {
  background-color: rgb(141, 108, 64);
  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 1000px;

  border-radius: 15px;

  font-size: 120%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.tasks {
  scale: 100%;
  border-radius: 10px;
  background-color: brown;
  border-style: none;
  margin-right: 10px;
  text-size-adjust: 10px;
  font-size: 20px;
  font: bold;
  font-family: cursive;
}

.tasks:active {
  background-color: rgb(117, 30, 30);
}

.centered {
  display: flex;
  justify-content: center;
}